@import 'tailwindcss';

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #97BC62;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2C5F2D;
}
